<!DOCTYPE html>
<html>
    <head>
        <title>Weather app</title>
        <link rel="stylesheet" href="./css/index.css">
    </head>
    <body>
        {{>header}}
        <div>
            <form>
                <input name="location" type="text" placeholder="location">
                <button type="submit">Search</button>
            </form>
            <div id="response"></div>
        </div>
        {{>footer}}
        <script src="./js/index.js"></script>
    </body>
</html>